@font-face { 
    font-family: 'JetBrains';
    src: url('font/JetBrainsMono-Regular.ttf') format('truetype');
    }

body {
    margin: 0;
    font-family: JetBrains;
    font-weight: normal;
    font-style: normal;
    background-color: #F6FCFF;
  }
  
  .topnav {
    overflow: hidden;
    position: absolute;
    left: 700px;
    top: 30px;
  }
  
  .topnav a {
    float: left;
    color: #615F60;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #615F60;
  }
  
  .topnav a:active {
    color: #6096B4;
  }

.current {
    color: #6096B4;
  }


  .rectangle {
    height: 4px;
    width: 17px;
    background-color: #6096B4;
    top: 43px;
  }

  .Logo b {
    position: absolute;
    left: 50px;
    top: 100px;
  }

.Logo img {
    height: 44px;
    width: 70px;
    position: absolute;
    left: 70px;
    top: 30px;
}

.Pic c {
    position: absolute;
    left: 50px;
    top: 100px;
}

.Pic img{
    position: absolute;
    left: 1200px;
    top: 150px;
}

.Intro {
    font-family: JetBrains;
    font-weight: normal;
    font-style: normal;
}

.Intro h3{
    font-weight: normal;
    color: white;
    position: absolute;
    left: 300;
    top: 300;
}

.Intro h1{
    font-weight: normal;
    color: white;
    position: absolute;
    left: 300;
    top: 340;
}

.Intro p {
    font-weight: normal;
    font-style: normal;
}

.Intro h4{
    font-weight: normal;
    color: white;
    position: absolute;
    left: 300;
    top: 400;
}

/*Responsive*/
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }